.main{
    background-image: linear-gradient(155deg,rgb(8, 127, 160),rgb(120, 0, 176));
    background-image: url('images/bg.jpg');
    background-size: cover;
}
.login{
    position: relative;
   
    display: flex;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    
  }
  .card{
    border-radius: 10px;
    background-image: linear-gradient(135deg,rgb(255, 255, 255,0.1),rgb(255, 255,255,0.05));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    background-color:transparent;
    padding: 30px;
    box-shadow: 2px 2px 5px white,inset 2px 2px 5px white;
  }
  input{
    border: none;
    border-radius: 5px;
    padding:5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color:transparent !important;
    outline: none;
    padding-bottom: 5px;
    color: white;
  }
  ::placeholder{
    color: rgb(229, 233, 244);
    font-size: small;
  }
  .header{
    text-align: center;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    
  }
  .btn{
    padding:2px 5px;
    /* background-image: linear-gradient(45deg,rgb(151, 45, 200),rgb(37, 153, 185)); */
    background-color: rgb(158, 96, 215);
    color: white !important;
  }
  .btn:hover{
    background-color: rgb(158, 96, 215);
    transform: scale(1.05);
  }
  p{
    font-size:small;
    
  }
  a{
    color: rgb(0, 247, 255);
    text-decoration:none;
    font-weight: 700;
  }